ul,ol{
    background-color: salmon;
    width: 15%;
    display: inline-block;
    margin: 20px;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
}
li{
    background-color: red;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
}