div{
  width: 100px;
  height: 100px;
  color: white;
  font-weight: bold;
  margin: 5px;  
}
.c1{
    background-color: red;
}
.c2{
    background-color: green;
    position: relative;
    left: 20px;
    bottom: 90px;
}
.c3{
    background-color: blue;
    position: relative;
    left: 40px;
    bottom: 180px;
}
.c4{
    background-color: yellow;
    position: relative;
    left: 60px;
    bottom: 270px;
}
.c5{
    background-color: olive;
    position: relative;
    left: 80px;
    bottom: 360px;
}